@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



h1 {
    font-weight: bold;
    margin: 0;
}


span {
    font-size: 12px;
}

.social-auth {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container-auth {
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2); */
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    margin: 15px 0;

}
.form-container-auth {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form-container-auth form {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.social-container-auth {
    margin: 20px 0;
}

.social-container-auth a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container-auth input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.button-auth {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff445c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button-auth:active {
    transform: scale(.95);
}

.button-auth:focus {
    outline: none;
}

.button-auth.ghost-auth {
    background: transparent;
    border-color: #fff;
}



.sign-in-container-auth {
    left: 0;
    width: 70%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.sign-up-container-auth {
    left: 0;
    width: 70%;
    z-index: 1;
    margin: 0 auto;
}

.overlay-container-auth {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay-auth {
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel-auth {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right-auth {
    right: 0;
    transform: translateY(0);
}

.overlay-left-auth {
    transform: translateY(-20%);
}

/* Move signin to right */
.container-auth.right-panel-active-auth .sign-in-container-auth {
    transform: translateY(100%);
}

/* Move overlay to left */
.container-auth.right-panel-active-auth .overlay-container-auth {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container-auth.right-panel-active-auth .sign-up-container-auth {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container-auth.right-panel-active-auth .overlay-auth {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container-auth.right-panel-active-auth .overlay-left-auth {
    transform: translateY(0);
}

/* Same effect for right */
.container-auth.right-panel-active-auth .overlay-right-auth {
    transform: translateY(20%);
}



