*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    display: flex;
    justify-content: space-between;
}
.imgLng {
    width: 20px;
    height: 2vh;
    margin-right: 6px;
  }
  
  
  
  .chooseLngTop{
    display: flex;
    justify-content: end;
  }
  
  .lng{
    border: 1px solid;
  }


  .top-nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
