button{
	cursor:pointer;
	transform:scale(1.1);
	width:55px !important;
	height:55px !important;
	transition:0.3s;
	border:1px solid transparent;
	background-color: #13a2b7;
	border-radius: 50%;
	padding: 10px;
	margin-bottom: 20px;
}

button:hover{
	opacity:0.8;
}

.container-float{
	display:grid;
	place-items:center;
}

.wrapper-float{
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;

	z-index:100;

	bottom:90px;
	right:27px;
}

.hidden{
	transform:scale(0);
	transform-origin:bottom;
}

.top{
	z-index:1000;
}

.rotate{
	transform:rotate(45deg);
}