button{
	cursor:pointer;
	transform:scale(1.1);
	width:60px;
	height:60px;
	transition:0.3s;
	margin:7px 0 ;
	border:1px solid #DDD;
	background-color: #13a2b7;
	border-radius: 50%;
	padding: 10px;
}

button:hover{
	opacity:0.8;
}

.container-float{
	display:grid;
	place-items:center;
}

.wrapper-float{
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;

	z-index:100;

	bottom:115px;
	right:25px;
}

.hidden{
	transform:scale(0);
	transform-origin:bottom;
}

.top{
	z-index:1000;
}

.rotate{
	transform:rotate(45deg);
}